<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8 " />
<title>this is about page</title>

</head>
<body>
    
   <section class="about" >
        <h3 >Smart Contact Manager is a secure and user-friendly web application designed to help individuals and organizations manage their personal and professional contacts efficiently</h3>
      </section>
      <section class="tech" >
         <h3 >✨Key Features</h3>
          <p>
            🔐 Secure Authentication & Authorization using Spring Security <br>
            📇 Add, Edit, Delete Contacts with full CRUD functionality<br>
            📁 File Upload Support for contact profile images<br>
            📱 Responsive UI using Thymeleaf templates<br>
            🔍 Search Contacts by name or email<br>
            🧾 Role-Based Access (Admin/User)<br>
            💾 Database Integration with MySQL<br>
            📊 Dashboard Overview of contacts<br>
          </p>
           <h3> 💻Tech Stack </h3>
           <p>
             <h6> Backend: </h6>
              Java, Spring Boot, Spring MVC, Spring Security, Hibernate (JPA), MySQL
              <h6> Frontend: </h6>
             HTML, CSS, Bootstrap, Thymeleaf
           </p>
      </section>
      
   
    
</body>
</html>

